.current-projects h2{
    font-family: 'Arvo', sans-serif;
    text-align: center;
    font-size: 30px;
}

.current-projects a {
    font-size: 26px;
    text-decoration: underline;
}

.current-projects {
    margin-top: 90px;
}

.current-project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-link {
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
    font-size: 26px;
}

.ticket-link a {
    text-decoration: none;
}

.current-project-info img {
    width: 45%;
    border: 2px solid rgb(211, 211, 211, .7);
}

.no-events {
    width: 100%;
    padding-bottom: 30%;
    display: flex;
    justify-content: center;
}

.no-events h1 {
    font-size: 4vw;
    margin-top: 20%;
    font-family: 'Arvo', serif;
    text-shadow: 2px 2px 2px rgb(0,0,0,.2);
}
