
/**********CONTACT**********/
.contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(-470px);
    overflow: hidden;
    animation: drop 1.5s;
    animation-fill-mode: forwards;
    margin-left: 15px;
}

.contact-container h4, a {
    font-family: 'Arvo', serif;
    font-size: 30px;
}

.contact-info {
    margin-top: 8%;
}

#moon_contact {
    width: 30%;
}

@media (max-width: 1180px) {
    .contact-container h4, a {
        font-size: 15px;
    }
}
