@font-face {
  font-family: 'Sofija';
  src: local('Sofija'), url(./fonts/Sofija.ttf) format('truetype');
}

/**********ANIMATIONS**********/
@keyframes rotate {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg)
    }
}

#moon-swing {
    grid-column-start: 2;
    grid-row-start: 1;
    z-index: 1;
    transform-origin: top;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode:none;
    width: 37%;
}

@keyframes drop {
    100% {
        transform: translateY(0px);
    }
}

.moon_drop {
    clear: right;
    transform: translateY(-470px);
    overflow: hidden;
    animation: drop 1.5s;
    animation-fill-mode: forwards;
    width: 80%;
}

#loading h3{
    color: black;
    font-family: 'Arvo', sans-serif;
    font-size: 30px;
}

#loading {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
/**********NAV BAR**********/
.navbar, .nav {
    background-color: #ffffff;
    padding: 5px 0px;
}

.nav-bar a {
    color: black;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 14px;
}

.nav-bar div.navlink {
    margin: 0px 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: gold;
}

#brand {
    font-family: 'Sofija', serif;
    font-size: 40px;
    color: black;
    padding: 1px 5px;
    margin-left: 40px;
}

div#responsive-navbar-nav.navbar-collapse.collapse {
    justify-content: flex-end;
}

div.mr-auto.navbar-nav {
    margin-right: 0px!important
}

@media (max-width: 1240px) {


}
/**********HOME**********/
#banner{
    grid-column: 1/4;
    grid-row-start: 1;
    width: 90%;
    margin: auto;
}

.sitename-container {
    display: grid;
    grid-template-columns: 140px 1fr 45%;
    grid-template-rows: 1fr 60%;
    overflow: hidden;
}

/**********FOOTER**********/
.footer {
    margin: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}

.footer h3, a {
    font-size: 20px;
    color: black;
}

.footer h3, a:hover {
    color: gold;
}

.fa-envelope-o, .fa-instagram {
  margin-right: 5px;
  font-size: 40px;
}
.mail {
    margin-left: 12px;
}

.instagram, .mail {
    display: flex;
    align-items: center;
}


/**********ABOUT**********/

.positioner {
    float: right;
    width: 0px;
    height: 200px;
}

.bio {
    float: right;
    clear: right;
    width: 45%;
    margin: 10px;
}

.about {
    display: grid;
    grid-template-columns: 20% 1fr;
    margin: 20px 30px;
    overflow: hidden;
}

.about h6 {
    grid-column-start: 2;
    font-size: 16px;
    width: 80%;
    margin-top: 30px;
}

@media (max-width: 1080px) {
    .positioner {
        height: 250px;
    }
}

/**********CURRENT PROJECTS**********/
.current-projects {
    display: grid;
    grid-template-columns: 20% 1fr;
    margin: 20px 50px;
    overflow: hidden;
}

#youtube {
    margin-top: 80px;
    border: 3px solid black;
}

/**********SAM CREATES**********/
h1 {
    font-family: 'Sofija', cursive;
}

h3 {
    font-family: 'Arvo', serif;
    margin: 2px, 0px;
    color: #943616;
    font-size: 20px;
    font-weight: 600;
}

h5 {
    font-family: sans-serif;
    font-size: 14px;
}

.project {
    display:grid;
    grid-template-columns: 30% 1fr 10%;
    grid-template-rows: 10% 1fr 10%;
    margin: 20px 0px;
}

.project-image {
    grid-column-start: 1;
    width: 100%;
    height: 350px;
    border: 4px double black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    outline: 1px double black;
    outline-offset: 3px;
}

.project-info {
    grid-column-start: 2;
    margin-left: 25px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
  margin-top:300px;
}

.carousel-control-next-icon {
    margin-left: 15px;
}

.carousel-control-prev-icon {
    margin-right: 15px;
}


.carousel-indicators {
    display: none;
}

#moon_creates {
    grid-column-start: 1;
    width: 80%;
}

.sam-creates-container {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 3% 1fr 20%;
    margin: 30px;
}

#evening {
    grid-row-start: 1;
    grid-column-start: 2;
}

#other {
    grid-column-start: 2
}

#evening-project-list{
    grid-column-start: 2;
    grid-row-start: 2;
}

#other-project-list{
    grid-column-start: 2;
    grid-row-start: 3;
}

.btn.btn-outline-dark {
    border: 4px double black;
}

.btn.btn-outline-dark h5{
    margin: 5px;
}

@media (max-width: 930px) {
    #evening {
        text-align: center;
    }
}

/**********CONTACT**********/

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#moon_contact {
    width: 20%;
}

.contact-container h4 {
    font-family: 'Arvo', sans-serif;
}
