@font-face {
  font-family: 'Sofija';
  src: local('Sofija'), url(./fonts/Sofija.ttf) format('truetype');
}

#sam-stone-page {
    margin: 0 120px 80px 120px;
}
/**********ANIMATIONS**********/
@keyframes rotate {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg)
    }
}

#moon-swing {
    grid-column-start: 2;
    grid-row-start: 1;
    z-index: 1;
    transform-origin: top;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode:none;
    max-width: 33%;
    margin-left: 5px;
}

@keyframes drop {
    100% {
        transform: translateY(0px);
    }
}

#loading h3{
    color: black;
    font-family: 'Arvo', sans-serif;
    font-size: 30px;
}

#loading {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

/**********NAV BAR**********/
.navbar, .nav {
    background-color: #ffffff;
    padding: 5px 0px;
    display: grid;
    grid-template-columns: 30% 1fr;
}

.nav-bar a {
    color: black;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 14px;
}

.nav-bar div.navlink {
    margin: 0px 5px;
    display: inline;
}

.nav-bar div.navlink:last-of-type {
    margin: 0px 0px;
}

.nav-bar div.navlink:first-of-type {
    margin-left: -8px;
}

a.nav-link {
    padding-left: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: gold;
}

.navbar-light .navbar-nav .nav-link.active {
    color: gold;
}

#brand {
    font-family: 'Sofija', serif;
    font-size: 50px;
    color: black;
    margin-top: 10px;
    line-height: 60%;
}

#responsive-navbar-nav.navbar-collapse.collapse {
    grid-column-start: 2;
    justify-content: flex-end;
}

div.mr-auto.navbar-nav {
    margin-right: -5px!important
}

.navbar-toggler, .navbar-toggler.collapsed {
    margin-right: 20px;
    margin-top: 5px;
}

@media (max-width: 1200px) {
    .navbar, .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #brand {
        margin-bottom: 10px;
    }
}

@media (max-width: 991px) {
    .navbar, .nav {
        flex-direction: row;
        justify-content: flex-start;
    }

    .nav-bar div.navlink:last-of-type, .nav-bar div.navlink:first-of-type {
        margin: 0px 5px;
    }

    .navbar-toggler, .navbar-toggler.collapsed {
        margin-right: 0px;
    }

    #brand {
        margin-right: 10px;
    }
}

@media (max-width: 640px) {
    #brand {
        font-size: 30px;
        margin-right: 5px;
    }
}


@media (max-width: 400px) {
    #brand {
        margin-left: 10px;
    }
}
/**********HOME**********/
#banner{
    grid-column: 1/4;
    grid-row-start: 1;
    width: 100%;
    margin: auto;
}

.sitename-container {
    display: grid;
    grid-template-columns: 50px 1fr 40%;
    grid-template-rows: 1fr 60%;
    overflow: hidden;
    margin-top: 20px;
}

/**********FOOTER**********/
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 50;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 115px;
    margin-top: 10px;
}

.footer h3, a {
    font-size: 20px;
    color: black;
}

.footer h3, a:hover {
    color: gold;
}

.fa-envelope-o, .fa-instagram, .fa-facebook, .fa-youtube, .fa-arrow-circle-o-down {
  margin-right: 5px;
  font-size: 40px;
}

.mail, .facebook, .youtube {
    margin-left: 12px;
}

.instagram, .mail, .youtube, .cv {
    display: flex;
    align-items: center;
}


/**********ABOUT**********/

.bio {
    float: right;
    clear: right;
    width: 30%;
    margin: 10px 0px 200px 20px;
    border: 3px solid black;
}

.about {
    margin: 90px 0px;
}

.about h6 {
    text-align: justify;
    font-family: 'Arvo', serif;
    line-height: 150%;
}

.positioner {
    float: right;
    width: 0px;
    height: 100px;
}

@media (max-width: 1200px) {
    .about {
        margin: 40px 0px;
    }
}

@media (max-width: 991px) {

    .bio {
        margin-bottom: 20px;
    }
}

/**********CURRENT PROJECTS**********/
.current-projects {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

#youtube {
    margin-top: 90px;
    border: 3px solid black;
}

/**********SAM CREATES**********/
h1 {
    font-family: 'Sofija', cursive;
}

h3 {
    font-family: 'Arvo', serif;
    margin: 2px, 0px;
    color: #943616;
    font-size: 20px;
    font-weight: 600;
}

h5 {
    font-family: 'Arvo', serif;
    font-size: 20px;
}

.sam-creates-container {
    margin-top: 90px;
}

.project {
    display:grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 10% 1fr 10%;
    margin: 20px 0px;
}

.project-image {
    grid-column-start: 1;
    height: 350px;
    border: 4px double black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-image img {
    height: 100%;
}

.project-info {
    grid-column-start: 2;
    margin-left: 25px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  margin-top:300px;
}

.carousel-control-next-icon {
    margin-left: 15px;
}

.carousel-control-prev-icon {
    margin-right: 15px;
}

.carousel-indicators {
    display: none;
}

#moon_creates {
    grid-column-start: 1;
    width: 80%;
}

.btn.btn-outline-dark {
    border: 4px double black;
}

.btn.btn-outline-dark h5{
    margin: 5px;
}

@media (max-width: 1100px) {
    .project-image {
        height: 200px;
    }

    .carousel-control-next-icon {
        margin-left: 10px;
        margin-top: 170px;
    }

    .carousel-control-prev-icon {
        margin-right: 10px;
        margin-top: 170px;
    }

}

@media (max-width: 930px) {
    #evening {
        text-align: center;
    }

    .project-image {
        height: 200px;
    }

    .carousel-control-next-icon {
        margin-left: 8px;
        width: 15px;
    }

    .carousel-control-prev-icon {
        margin-right: 8px;
        width: 15px;

    }
}

@media (max-width: 745px) {
    .carousel-control-next-icon {
        margin-left: 5px;
        width: 10px;
    }

    .carousel-control-prev-icon {
        margin-right: 5px;
        width: 10px;

    }
}

@media (max-width: 580px) {
    .carousel-control-next-icon {
        margin-left: 3px;
        width: 7px;
    }

    .carousel-control-prev-icon {
        margin-right: 3px;
        width: 7px;

    }
}

@media (max-width: 400px) {

    .moon_drop {
        display: none;
    }

    .project {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .project-image {
        margin-bottom: 10px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      margin-top: 0px;
    }

    .carousel-control-next-icon {
        margin-left: 8px;
        width: 15px;
    }

    .carousel-control-prev-icon {
        margin-right: 8px;
        width: 15px;
    }

    .sam-creates-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .sam-creates-container h1 {
        font-size: 30px;
    }
}

/**********SAM TEACHES**********/

.adult-teach, .child-teach, .teaching-philosophy {
    margin-top: 90px;
    font-family: 'Arvo', serif;
}

.adult-teach h3, .child-teach h3 {
    color: black;
}

.adult-teach h6 {
    border: 2px solid black;
    padding: 5px;
}

.adult-teach a, .child-teach a {
    font-size: 16px;
}


/**********CONTACT**********/
.contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(-470px);
    overflow: hidden;
    animation: drop 1.5s;
    animation-fill-mode: forwards;
    margin-left: 15px;
}

.contact-container h4, a {
    font-family: 'Arvo', serif;
    font-size: 30px;
}

.contact-info {
    margin-top: 8%;
}

#moon_contact {
    width: 30%;
}

@media (max-width: 1180px) {
    .contact-container h4, a {
        font-size: 15px;
    }
}
