@font-face {
  font-family: 'Sofija';
  src: local('Sofija'), url(./fonts/Sofija.ttf) format('truetype');
}

/**********NAV BAR**********/

.nav-bar, .navbar-brand{

}

.nav-bar div {
    margin-bottom: 0px;
    margin-right: 70px;
    padding: 5px;
}

/**********HOME**********/
#banner{
    grid-column: 1/4;
    grid-row-start: 1;
    width: 100%;
}

.sitename-container {
    height: 100%;
    display: grid;
    grid-template-columns: 40px 1fr 50%;
    grid-template-rows: 1fr 60%;
    overflow: hidden;
}

@keyframes rotate {
  15% {
    transform: rotate(90deg);
  }
  30% {
      transform: rotate(-90deg)
  }
  45% {
      transform: rotate(60deg)
  }
  60% {
      transform: rotate(-60deg)
  }
  70% {
      transform: rotate(30deg)
  }
  85% {
      transform: rotate(-30deg)
  }
}

#moon {
    grid-column-start: 2;
    grid-row-start: 1;
    z-index: 1;
    transform: translateY(-15px);
    transform-origin: top;
    animation-name: rotate;
    animation-duration: 3s;
    width: 35%;
}



/**********SAM CREATES**********/
h1 {
    font-family: 'Sofija', cursive;
}

h2, h4 {
    font-family: 'Arvo', serif;
    margin: 2px, 0px;
}

.project {
    display:grid;
    grid-template-columns: 30% 1fr 10%;
    grid-template-rows: 10% 1fr 10%;
    margin: 20px 5px;
}

.project-image {
    grid-column-start: 1;
    width: 100%;
}

.project-info {
    grid-column-start: 2;
    margin-left: 5px;
}
